$loadingTime: 10s;
$color: rgb(255, 0, 0);

.bg {
  background-color: $color;
  animation: loading $loadingTime linear infinite;
}

@keyframes loading {
    0% {
      width: 0;
    } 100% {
      width: 100%;
    }
  }

  .text {
    color: $color;
    width: 200px;
    border: 1px solid $color;
  
    &:after {
      padding-left: 20px;
      content: "0%";
      display: block;
      text-align: center;
      animation: percentage $loadingTime linear infinite;
    }
  }

  @keyframes percentage {
    0% {
      content: "0%";
    }
    1% {
      content: "1%"; 
    }
    /* ... */
    100% {
      content: "100%";
    }
  }